.heading>div {
    font-size: 35px;
    padding: 30px;
    text-align: left;
    padding-left: 70px;
    font-weight: bold;
}
#career {
    background-color: rgb(245, 239, 239);
}
.timeline {
    position: relative;
}
.item-container {
    padding: 10px 40px;
    position: relative;
    width: 40%;
    font-size: 20px;
}
.left::before {
    content: " ";
    position: absolute;
    top: 22px;
    right: 30px;
    border: medium solid rgb(218, 39, 39);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(218, 39, 39);
}
.content {
    padding: 20px 30px;
    background-color: black;
    position: relative;
    border-radius: 8px;
    color: white;
    border: solid rgb(218, 39, 39)4px;
}
.content-item-box {
    padding: 5px;
}
.item-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: rgb(10, 10, 10);
    top: 15px;
}
.right {
    left: 50%;
}
.left {
    left: 4%;
}
.right::before {
    content: " ";
    position: absolute;
    top: 22px;
    left: 30px;
    border: medium solid rgb(218, 39, 39);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(218, 39, 39) transparent transparent;
}
.right::after {
    left: -10px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgb(12, 11, 11);
    top: 0;
    bottom: 0;
    left: 50%;
}
.footer {
    padding: 20px;
}
.content-items {
    padding: 8px;
}


/* Mobile screens ----------- */
@media only screen and (max-width: 600px) {

    .heading>div {
        font-size: 35px;
        padding: 10px;
        text-align: left;
        padding-left: 50px;
        font-weight: bold;
    }
    .item-container {
        padding: 5px 15px;
        /* position: relative; */
        width: 40%;
        font-size: 10px;
    }
    .left::before {
        content: " ";
        /* position: absolute; */
        /* top: 22px; */
        /* right: 30px; */
        border: medium solid rgb(218, 39, 39);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent rgb(218, 39, 39);
    }
    .content {
        padding: 5px 10px;
        background-color: black;
        position: relative;
        border-radius: 8px;
        color: white;
        border: solid rgb(218, 39, 39)4px;
    }
    .content-items {
        padding: 3px;
    }
    .item-container::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        right: -1px;
        background-color: rgb(10, 10, 10);
        top: 15px;
    }
    .right {
        left: 49%;
    }
    .right::after {
        left: -1px;
    }
    .left {
        left: 3.7%;
    }
    .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        background-color: rgb(12, 11, 11);
        top: 0;
        bottom: 0;
        left: 50%;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {


    .item-container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -13px;
        background-color: rgb(10, 10, 10);
        top: 15px;

    }

    .left {
        left: 6%;
    }
}