#skills >header>div {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    padding-top: 30px;

    
}
#skills{
    background-color: rgb(245, 239, 239);
}
/* .item-scale{
    padding: 20px;
    background-color: red;
    width: 60%;
    margin: auto;
}
.itembar-base{
    margin: auto;
    background-color: gray;
    height: 10px;
    width: 90%;
}
.itembar-progress{
    background-color: black;
    width: 0%;
    height: 10px;
     
    transition: 2s;

} */

#skill-wrapper{
    padding: 10px;
    background-color:  rgb(245, 239, 239);
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(216, 212, 212);
}
 #skill-container{
    padding: 10px 10%;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    width: 70%;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
   
 }
 #skill-container-each{
    padding-bottom: 20px;

 }
 .title-container{
    background-color: black;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* padding-left: 150px; */
 }

 .progressBar-container{
    background-color: black;
    height: 20px;
    color: white;
    font-weight: 800;
    
 }
 .progressBar-base{
    background-color: rgb(48, 45, 45);
    height: 12px;
    margin: auto;
    border-radius: 5px;
 }
 .progressBar{
    background-color:rgb(218, 39, 39) ;
    height: 12px;
    border-radius: 5px;
    
    animation: progress 1500ms ease-in 1;
 }
                   
 .percentage{
    color: black;
    background-color: white;
    height: 20px;
    width: 20px;
    position: relative;
    left: 0px;
    border-radius: 3px;
    margin-bottom: 10px;
    animation: progress 1500ms ease-in 1;
   padding-top: 4px;
 }
 @keyframes progress {
    0%{
        width: 0;
        /* opacity: 1; */
    }
    100%{
        /* opacity: 1; */
    }
}








 







































/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.skill-section{
    background-color: #131416;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 10rem;
}
::selection{
    background-color: #000;
    color: #129cff;
}

.container{
    width: 700px;
    padding: 25px 30px;
}
.heading{
    text-align:left;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}
.horizontal-bars .bar{
    margin: 40px 0;
}
.horizontal-bars .bar:first-child{
    margin-top: 0;
}
.horizontal-bars .bar:last-child{
    margin-bottom: 0;
}
.horizontal-bars .bar .info{
    margin-bottom: 5px;
}
.horizontal-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;   
    opacity: 0;
}
.horizontal-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.horizontal-bars .bar .progress-line span{
    height: 100%;
    background-color: #129cff;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 60%;
}
.progress-line.sql span{
    width: 85%;
}
.progress-line.java span{
    width: 60%;
}
.progress-line.javascript span{
    width: 50%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;   
    opacity: 0;
}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "90%";
}
.progress-line.sql span::after{
    content: "85%";
}
.progress-line.java span::after{
    content: "50%";
}
.progress-line.javascript span::after{
    content: "75%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color:#000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;   
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
} */
